<template>
    <div>
        <el-row type="flex" justify="space-around">
            <el-col :span="8">
                <el-breadcrumb class="header" seperator="/">
                    <el-breadcrumb-item v-for="(folder, index) in path.split('/')" :key="index">{{folder}}</el-breadcrumb-item>
                </el-breadcrumb>
            </el-col>
        </el-row>
        <el-row type="flex" justify="space-around">
            <el-col :span="8" class="controls">
                <el-button @click="newFolder" size="small">Add Folder</el-button>
                <el-button @click="up" size="small">Up</el-button>
            </el-col>
        </el-row>
        <el-row class="folder-view" type="flex" justify="space-around">
            <el-col :span="8">
                <el-row v-if="addNew" type="flex" justify="space-around" align="middle">
                    <el-col :span="4">
                        <icon name="folder" scale="2"></icon>
                    </el-col>
                    <el-col :span="8">
                        <el-input v-model="newName" size="small"></el-input>
                    </el-col>
                    <el-col :span="6">
                        <el-button @click="saveFolderName" size="small">Save</el-button>
                    </el-col>
                </el-row>
                <el-row class="folder-row" @click.native="changeDirectory(path + '/' + folder)" v-for="(folder,index) in sorted" type="flex" justify="space-around" align="middle" :key="index">
                    <el-col :span="4">
                        <icon name="folder" scale="2"></icon>
                    </el-col>
                    <el-col :span="8"><div>{{ folder }}</div></el-col>
                    <el-col :span="6">
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import 'vue-awesome/icons/folder'
import Icon from 'vue-awesome/components/Icon'

export default {
    data () {
        return {
            current: [],
            path: 'root',
            tree: {
                root: {}
            },
            addNew: false,
            newName: ''
        }
    },

    components: {
        Icon
    },

    computed: {
        sorted () {
            return this.current.sort()
        }
    },

    methods: {
        newFolder () {
            this.addNew = true
        },
        handleInput (val) {
            this.folderName = val 
        },
        saveFolderName () {
            if (!this.newName) {
                return
            }
            this.current.push(this.newName)
            let target = this.getFolder(this.path)
            if (!target[this.newName])
            target[this.newName] = {}
            this.addNew = false,
            this.newName = ''
        },
        getFolder (path) {
            let pathSplits = path.split('/')
            let target = this.tree
            pathSplits.forEach(folder => {
                target = target[folder]
            })
            return target
        },
        
        changeDirectory (path) {
            this.path = path
            let target = this.getFolder(this.path)
            this.current = Object.keys(target)
        },

        up () {
            let pathSplits = this.path.split('/')
            if (pathSplits.length === 1)
                return 1
            pathSplits.pop()
            this.path = pathSplits.join('/')
            this.changeDirectory(this.path)
        }
    }
}
</script>

<style lang="scss">
body {
    font-family: system-ui;
}

.header {
    font-size: 16px !important;
    padding: 10px;
    border-bottom: 1px solid #cfcfcf;
}

.folder-view {
    padding: 10px;
}

.folder-row {
    cursor: pointer;
    border-bottom: 1px solid #cfcfcf;
}

.controls {
    padding: 10px;
    border-bottom: 1px solid #cfcfcf;
}
</style>
